{% extends "ralaot.html" %}
{% block content %}



<body class="bg_css">
  </style>
  <div class="content-section_for_reg">
    <div class="image_in_my_account">
      <hr><input type="file" style="margin-bottom: 10px; font-size: 24px; text-align: center;" id=file-input></br>
      <img
        style="border:1px solid gray;width:300px; height: 300px; margin-top: 20px; border-radius: 70%; text-align: left;"
        id="preview" style="text-align: left; " src="{{ user_columns.avatar }}">

      <!-- <h4 id=" status">Please
      select a file</h4> -->
      <hr>
    </div>
    <div>

      <form method="POST" action="/submit-form/">
        <input type="hidden" id="user-id" name="user-id" value="{{ user_columns.user_id }}">
        <input type="hidden" id="avatar_url" name="avatar_url" value="{{ user_columns.avatar }}">
        <h2>E-mail:</h2>
        <div class="form-group"></div>
                <div id="user-email" value="{{ user_columns.user_email }} class="form-group">
                  {% if form.user_email.errors %}
                  {{ form.user_email(class="form-control form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.user_email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.user_email(class="form-control form-control-lg") }}
                  {% endif %}
                  </div>
        </div>
        <h2>First name:</h2>
                <div id="user-name" value="{{ user_columns.name }} class="form-group">
                  {% if form.name.errors %}
                  {{ form.name(class="form-control form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                  {% for error in form.name.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                  </div>
                  {% else %}
                  {{ form.name(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
        <h2>Second name:</h2>
                <div id="user-surname" value="{{ user_columns.surname }} class="form-group">
                  {% if form.surname.errors %}
                  {{ form.surname(class="form-control form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.surname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.surname(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
        <h2>Address:</h2>
                <div id="user-address" value="{{ user_columns.address }} class="form-group">
                  {% if form.address.errors %}
                  {{ form.address(class="form-control form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.address(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
        <hr>

        <h2>New Password</h2>
                <div id="password1" placeholder="Enter password" class="form-group">
                  {% if form.password.errors %}
                  {{ form.password(class="form-control form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.password(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div style="width: 100%; height: 45px" id="password2" placeholder="Repeat password" class="form-group">
                  {% if form.passwordC.errors %}
                  {{ form.passwordC(class="form-control form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.passwordC.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.passwordC(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
              </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">

    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url) {
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');

      const postData = new FormData();
      for (key in s3Data.fields) {
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);

      xhr.onreadystatechange = () => {
        if (xhr.readyState === 4) {
          if (xhr.status === 200 || xhr.status === 204) {
            document.getElementById('preview').src = url;
            document.getElementById('avatar_url').value = url;
          }
          else {
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }


    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file, user_id) {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/sign-s3/user/${user_id}?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.data, response.url);
          }
          else {
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }

    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload() {
      const user_id = document.getElementById('user-id').value;
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if (!file) {
        return alert('No file selected.');
      }
      getSignedRequest(file, user_id);
    }

    /*
       Bind listeners when the page loads.
    */
    (() => {
      document.getElementById('file-input').onchange = initUpload;
    })();

  </script>
</body>

{% endblock content %}