<div>
    <img src="" alt="Putt logo here" width="300" height="300">
    <br>
    {% if fest != None %}
        <h4>Festival name: {{ fest.fest_name }}</h4> 
        <h4>fest_id              {{ fest.fest_id }}</h4>
        <h4>fest_name            {{ fest.fest_name }}</h4>
        <h4>description          {{ fest.description }}</h4>
        <h4>style                {{ fest.style }}</h4>
        <h4>address              {{ fest.address }}</h4>
        <h4>cost                 {{ fest.cost }}</h4>
        <h4>time_from            {{ fest.time_from }}</h4>
        <h4>time_to              {{ fest.time_to }}</h4>
        <h4>max_capacity         {{ fest.max_capacity }}</h4>
        <h4>current_ticket_count {{ fest.current_ticket_count }}</h4>
        <h4>age_restriction      {{ fest.age_restriction }}</h4>
        <h4>sale                 {{ fest.sale }}</h4>
        <h4>org_id               {{ fest.org_id }}</h4>
        <h4>canceled             {{ fest.canceled }}</h4>
        <br>
        Organizator: {{ fest.organizer.org_id }}
    {% else %}
        <form action="/my_festivals/add" method="POST">
            {% for field in form if field.name != 'csrf_token' %}
            <legend class="border-bottom mb-4">{{ field.label() }}</legend>
            {{ field() }}
            {% endfor %}
            <input style="width: 100%; height: 45px" type="submit" value="Create festival">
        </form>
    {% endif %}

    <h2>Performances</h2>
    <form action="/my_festivals/{{ fest.fest_id }}/add_perf", method="POST">
        <input type="submit" value="Add performance">
        <legend class="border-bottom mb-4">Band name</legend>
        <input type="text" name="band_name"/>
        <legend class="border-bottom mb-4">Stage ID:</legend>
        <input type="text" name="stage_id"/>
        <legend class="border-bottom mb-4">From:</legend>
        <input type="date" name="date_from"/>
        <input type="time" name="time_from" />
        <legend class="border-bottom mb-4">To:</legend>
        <input type="date" name="date_to"/>
        <input type="time" name="time_to"/>
        <h1>TODO SHOW ICON WITH AVAILABLE TIME SLOTS FOR GIVEN Festival</h1>
    </form>
    {% for perf in perfs %}
    <div>
        <h4>ID: {{ perf.perf_id }}</h4>
        Stage ID: {{ perf.stage.stage_id }}
        <br>
        Band name: {{ perf.band.name }}
        <br>
        From: <b>{{ perf.time_from }}</b> 
        <br>
        To: <b>{{ perf.time_to }}</b>
        <br>
        Canceled: <b>{{ perf.canceled }}</b>
        <a href="/my_festivals/{{ fest.fest_id }}/del_perf/{{ perf.perf_id }}"><button>Cancel</button></a>
    </div>
    {% endfor %}
    <h2>Sellers</h2>
    <button disabled="disabled">Add seller</button>
    <button disabled="disabled">Create seller</button>
    <form action="">
        <legend class="border-bottom mb-4">Seller ID</legend>
        <input type="text"/>
    </form>
    {% for seller in sellers %}
    <div>
        <h4>Seller ID</h4>
        {{ seller.seller_id }}
    </div>
    {% endfor %}
</div>