{% extends "ralaot.html" %}
{% block content %}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>

<img style="margin-top:150px;" src="https://festival-static.s3-eu-west-1.amazonaws.com/f3.jpg" alt=" Putt logo here"
    width="300" height="300">

<div class="edit_festival_upper_page">
    {% if fest != None %}

    <table id="customers">
        <!-- <tr>
            <th>Company</th>
            <th>Contact</th>
        </tr> -->
        <tr>
            <td>FESTIVAL NAME</td>
            <td>{{ fest.fest_name }}</td>
        </tr>
        <tr>
            <td>FESTIVAL ID</td>
            <td>{{ fest.fest_id }}</td>
        </tr>
        <tr>
            <td>FESTIVAL NAME</td>
            <td>{{ fest.fest_name }}</td>
        </tr>
        <tr>
            <td>DESCRIPTION</td>
            <td>{{ fest.description }}</td>
        </tr>
        <tr>
            <td>STYLE</td>
            <td>{{ fest.style }}</td>
        </tr>
        <tr>
            <td>ADDRESS</td>
            <td>{{ fest.address }}</td>
        </tr>
        <tr>
            <td>COST</td>
            <td>{{ fest.cost }}</td>

        </tr>
        <tr>
            <td>TIME FROM</td>
            <td>{{ fest.time_from }}</td>

        </tr>
        <tr>
            <td>TAGS</td>
            <td>{{ fest.tag }}</td>
        </tr>
        <tr>
            <td>TIME TO</td>
            <td>{{ fest.time_to }}</td>
        </tr>
        <tr>
            <td>MAXIMAL CAPACITY</td>
            <td>{{ fest.max_capacity }}</td>

        </tr>
        <tr>
            <td>CURRENT TICKET COUNT</td>
            <td>{{ fest.current_ticket_count }}</td>
        </tr>
        <tr>
            <td>AGE RESTRICTION</td>
            <td>{{ fest.age_restriction }}</td>
        </tr>
        <tr>
            <td>SALE</td>
            <td>{{ fest.sale }}</td>

        </tr>
        <tr>
            <td>ORGANIZER ID</td>
            <td>{{ fest.org_id }}</td>
        </tr>
        <tr>
            <td>CANCELED</td>
            <td>{{ fest.canceled }}</td>
        </tr>
        <tr>
            <td>ORGANIZATOR</td>
            <td>{{ fest.organizer.org_id }}</td>
        </tr>
    </table>

    {% else %}
    <form action="/my_festivals/add" method="POST">
        {% for field in form if field.name != 'csrf_token' %}
        <legend class="border-bottom mb-4">{{ field.label() }}</legend>
        {{ field() }}
        {% endfor %}
        <input style="width: 100%; height: 45px" type="submit" value="Create festival">
    </form>
    {% endif %}


</div>
<div>
    <div class="">
        <h2 style="margin-left: 40%">PERFORMANCE</h2>
        <form action=" /my_festivals/{{ fest.fest_id }}/add_perf" , method="POST">
            <input style="margin-left: 40%;" type="submit" value="Add performance">
            <hr>
            <legend style="margin-left: 40%;">Band name</legend>
            <input style="margin-left: 40%;" type="text" name="band_name">
            <hr>
            <legend style="margin-left: 40%;">Stage ID:</legend>
            <input style="margin-left: 40%;" type="text" name="stage_id">
            <hr>
            <legend style="margin-left: 40%;">From:</legend>
            <input style="margin-left: 40%;" type="date" name="date_from">

            <input style="margin-left: 0.1%;" type="time" name="time_from">
            <hr>
            <legend style="margin-left: 40%;">To:</legend>
            <input style="margin-left: 40%;" type="date" name="date_to">
            <!-- <hr> -->
            <input style="margin-left: 0.1%;" type="time" name="time_to">
            <br><br><br>
            <h1>TODO SHOW ICON WITH AVAILABLE TIME SLOTS FOR GIVEN Festival</h1>
            <hr>
        </form>
    </div>
    {% for perf in perfs %}
    <div>
        <h4>ID: {{ perf.perf_id }}</h4>
        Stage ID: {{ perf.stage.stage_id }}
        <br>
        Band name: {{ perf.band.name }}
        <br>
        From: <b>{{ perf.time_from }}</b>
        <br>
        To: <b>{{ perf.time_to }}</b>
        <br>
        Canceled: <b>{{ perf.canceled }}</b>
        <a href="/my_festivals/{{ fest.fest_id }}/del_perf/{{ perf.perf_id }}"><button>Cancel</button></a>
    </div>
    {% endfor %}
    <!-- "min-width: 11%;border-radius: 12px;height: 40px; margin-left: 1%;margin-bottom: 0.3%;" -->
    <h2 style="margin-left: 40%;">SELLERS</h2>
    <!-- <button style="margin-left: 40%; border-radius: 12px;min-width: 7.5%;" disabled="disabled">Create seller</button> -->
    <form action="/my_festivals/{{ fest.fest_id }}/add_seller" method="POST">
        <button style=" margin-left: 40%; border-radius: 12px;min-width:7.5%;" type="submit">
            Add existing seller to festival
        </button><br><br>
        <legend class="border-bottom mb-4">Seller ID</legend>
        <input name="seller_id" type="text"/>
    </form>
    <form action="/my_festivals/{{ fest.fest_id }}/create_seller" method="POST">
        <button style=" margin-left: 40%; border-radius: 12px;min-width:7.5%;" type="submit">
            Create new seller
        </button><br><br>
        
        {% for field in seller_form if field.name != 'csrf_token'  %}
        <legend class="border-bottom mb-4">{{ field.label() }}</legend>
        {{ field() }}
        {% endfor %}
        

    </form>
    {% for seller in sellers %}
    <div>
        <h4>Seller ID</h4>
        {{ seller.seller_id }}
        <a href="/my_festivals/{{ fest.fest_id }}/del_seller/{{ seller.seller_id }}">
            <button>Remove seller</button>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock content %}