{% extends "ralaot.html" %}
{% block content %}

<head>
	<link rel="shortcut icon" href="">
</head>

<body>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for post in posts %}
			{% if post.description != None %}
			<div class="carousel-item {% if loop.index == 1 %} active {% endif %}" id="slide{{ loop.index }}">
				<img class="d-block" src="https://festival-static.s3-eu-west-1.amazonaws.com/f1.jpg">

				<div class="container12">
					<img src="https://festival-static.s3-eu-west-1.amazonaws.com/f2.jpg" alt="Norway"
						style="width:100%;">
					<div class="text-block12">
						<h4>{{ post.description}}</h4>
						<p>{{ post.address}}</p>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>








	<div class="our-member">
		<div class="grid-container">
			{% for post in posts %}
			{% if post.description != None %}
			<figure class="team-member">
				<a href="{{ post.fest_id }}"> <img class="grid-pic"
						src="https://festival-static.s3-eu-west-1.amazonaws.com/f3.jpg" alt=""></a>
			</figure>
			{% endif %}
			{% endfor %}
		</div>
	</div>


	<style>
		body {
			background-image: url('https://festival-static.s3-eu-west-1.amazonaws.com/blackbg.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
</body>
{% endblock content %}