{% extends "ralaot.html" %}
{% block content %}

<body>
    <div style="clear:left; margin-top: 8%;">


        <!-- <p style="float:left;"> -->
        <img style="width: 70%; float: left;" src="{{fest.fest_logo}}"
            style="border:1px;">
        <!-- </p>  -->



        <div class="fest_info">


            <p class="fest_info">FESTIVAL NAME :{{fest.fest_name}}</p>
            <p class="fest_info">Festival info</p>
            <p class="fest_info">Description: {{fest.description}}</p>
            <h3 class="fest_info">Cost {{ fest.cost }}</h3>
            <h3 class="fest_info">Age restriciton {{ fest.age_restriction }}</h3>

        </div>

        <form method="POST" action="/festival/{{ fest.fest_id }}" method="POST" >
            <legend class="border-bottom mb-4">Name</legend>
            <div class="form-group">
                {{ form.user_name }}
            </div>
            <legend class="border-bottom mb-4">Surname</legend>
            <div class="form-group">
                {{ form.user_surname }}
            </div>
            {% if anonym %}
            <legend class="border-bottom mb-4">Email</legend>
            <div class="form-group">
                {{ form.user_email }}
            </div>
            {% endif %}


            <button type="submit">Reserve</button>
        </form>

        {% if anonym %}
        <div>Do you want to register?</div>
        <a href="/register"><button>Register</button></a>
        {% endif %}
    </div>
</body>

<style>
    body {
        background-image: url('https://festival-static.s3-eu-west-1.amazonaws.com/blackbg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

{% endblock content %}