{% extends "ralaot.html" %}
{% block content %}
<div class="toprow">
	<div class="row">
		<div class="column">
			<a href="https://vk.com/id152618548">
				<img class="roundimage" src="static/f3.jpg" height="350" alt="Snow" style="width:100%">
			</a>
			<h1 class="description">FESTIVAL SUNSHINE</h1>
			<p class="description2">Malaga, Portugal | 21.07-22.08</p>

		</div>
		<div class="column">
			<img class="roundimage" src="static/f3.jpg" height="350" alt="Forest" style="width:100%">
			<!-- <p class="description">FESTIVAL SUSHI</p> -->
		</div>
		<div class="column">
			<img class="roundimage" src="static/f3.jpg" height="350" alt="Mountains" style="width:100%">
			<p class="description">FESTIVAL LOVE</p>
		</div>
		<div class="column">
			<img class="roundimage" src="static/f3.jpg" height="350" alt="Mountains" style="width:100%">
			<p class="description">FESTIVAL HAPPINES</p>
		</div>
	</div>
	<br />
	</fieldset>

	<div class="row">
		<div class="column">
			<img class="roundimage" src="static/f3.jpg" height="350" alt="Forest" style="width:100%">
			<p class="description">FESTIVAL CLOUD</p>
		</div>
		<div class="column">
			<img class="roundimage" src="static/f3.jpg" height="350" alt="Forest" style="width:100%">
			<p class="description">FESTIVAL NATUSVINCERE</p>
		</div>
		<div class="column">
			<img class="roundimage" src="static/f3.jpg" height="350" alt="Forest" style="width:100%">
			<p class="description">FESTIVAL LIQUID</p>
		</div>
	</div>
</div>
<style>
	body {
		background-image: url('static/blackbg.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
</body>
{% endblock content  %}