{% extends "ralaot.html" %}
{% block content %}



<div style="margin-top: 130px;">
    <h2>MANAGE FESTIVALS</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table id="customers" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>FESTIVAL NAME</th>
                <th>DESCRIPTION</th>
                <th>COST</th>
                <th>AGE RESTRICTION</th>
                <th>EDIT</th>
            </tr>
        </thead>
        {% for fest in fests %}
        <tbody id="myTable">
            <tr>
                <td>{{fest.fest_name}}</td>
                <td>{{fest.description}}</td>
                <td>{{ fest.cost }}</td>
                <td>{{ fest.age_restriction }}</td>
                <td>
                    <a href="/manage_festivals/{{ fest.fest_id }}/bands"><button>Show bands</button></a>
                    <a href="/manage_festivals/{{ fest.fest_id }}/stages"><button>Show stages</button></a>
                    <a href="/manage_festivals/{{ fest.fest_id }}/performances"><button>Show performances</button></a>
                    <a href="/manage_festivals/{{ fest.fest_id }}/del"><button>Cancel festvival</button></a>
                </td>
            </tr>

        </tbody>
        {% endfor %}
    </table>

</div>

<div>
    <h2>Add festival</h2>
    <form action="/manage_festivals" method="POST">
        <!-- TODO -->

    </form>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock content %}