<div>
    <h3>FESTIVAL TABLE -> {{tickets[0].fest.fest_id}} - {{tickets[0].fest.fest_name}}</h3>
    <h4>ROWS WITH TICKETS -> CAN BE EMPTY -> write something sad if we do not have registrations at all</h4>
    <br>
    {% for ticket  in tickets %}
    <h4>Row Example :: {{ ticket.ticket_id }} - {{ ticket.user.name }} - {{ ticket.user.surname }} -
        {{ ticket.user.user_email }} - {{ ticket.approved }} - {{ ticket.reason }}</h4>
    <a href="/my_festivals/{{ ticket.fest.fest_id }}/manage_tickets/{{ ticket.ticket_id }}/approve">
        <button>Approve ticket</button>
    </a>
    <a href="/my_festivals/{{ ticket.fest.fest_id }}/manage_tickets/{{ ticket.ticket_id }}/cancel">
        <button>Cancel ticket</button>
    </a>
    <form method="POST">
        <input type="text" name="Reason-{{ ticket.ticket_id }}"><br>
    </form>
    {% endfor %}
</div>