{% extends "ralaot.html" %}
{% block content %}

<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {

            background-color: #f2f2f2;
        }

        #customers tr:nth-child(odd) {

            background-color: #BEBEBE;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #000000;
            color: white;
        }
    </style>

    <!-- <meta name="viewpo rt" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>


<div style="margin-top: 120px;">

    <a href="/my_festivals/add">
        <button class="addnewbutton"
            style="min-width: 11%;border-radius: 12px;height: 40px; margin-left: 1%;margin-bottom: 0.3%;">Create A New
            Festival!</button>
    </a>


    <table id="customers">

        <tr>
            <th>FEStIVAL №:</th>
            <th>FESTIVAL NAME:</th>
            <th>FESTIVAL STATUS:</th>
            <th>MANAGING:</th>

        </tr>
        {% for fest  in actual_fests %}

        <tr>
            <td class="td_field">{{ fest.fest_id }}</td>
            <td>{{ fest.fest_name }}</td>
            {% if fest.status == 0%}
            <td style="background-color: #FFFF99;  max-width: 100px;">Not published</td>
            {% elif fest.status == 1%}
            <td style="background-color: #99FF99;">Published</td>
            {% elif fest.status == 2 %}
            <td style="background-color: #F08080;">CANCELED</td>
            {% endif%}



            {% if current_user.user_id == fest.org_id  %}
            <td><a href="/my_festivals/{{ fest.fest_id }}/manage_tickets">
                    <button>manage tickets</button>
                </a>
                <a href="/my_festivals/{{ fest.fest_id }}/edit">
                    <button>edit</button>
                </a>
                {% if fest.status == 2 %}
                <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival">
                    <button disabled>cancel festival</button>
                </a>
            </td>
            {% else %}
            <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival">
                <button>cancel festival</button>
            </a>
            </td>
            {% endif %}
            </td>
            {% else %}
            <td><a href="/my_festivals/{{ fest.fest_id }}/manage_tickets">
                    <button>manage tickets</button>
                </a>
                <a href="/my_festivals/{{ fest.fest_id }}/edit"><button type="button" disabled>edit
                    </button></a>
                <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival"><button type="submit" disabled>cancel
                        festival</button></a></td>
            {% endif %}


        </tr>
        {% endfor %}

        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table id="customers" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>FEStIVAL №:</th>
                    <th>FESTIVAL NAME:</th>
                    <th>FESTIVAL STATUS:</th>
                    <th>MANAGING:</th>

                </tr>
            </thead>
            <tbody id="myTable">
                {% for fest  in actual_fests %}

                <tr>
                    <td class="td_field">{{ fest.fest_id }}</td>
                    <td>{{ fest.fest_name }}</td>
                    {% if fest.status == 0%}
                    <td style="background-color: #FFFF99;  max-width: 100px;">Not published</td>
                    {% elif fest.status == 1%}
                    <td style="background-color: #99FF99;">Published</td>
                    {% elif fest.status == 2 %}
                    <td style="background-color: #F08080;">CANCELED</td>
                    {% endif%}



                    {% if current_user.user_id == fest.org_id  %}
                    <td><a href="/my_festivals/{{ fest.fest_id }}/manage_tickets"><button>manage
                                tickets</button></a>
                        <a href="/my_festivals/{{ fest.fest_id }}/edit"><button>edit
                            </button></a>
                        <a href="/my_festivals/{{ fest.fest_id }}/add_seller"><button>add
                                sellers</button></a>
                        <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival"><button>cancel
                                festival</button></a>
                    </td>
                    {% else %}
                    <td><a href="/my_festivals/{{ fest.fest_id }}/manage_tickets"><button>manage
                                tickets</button></a>
                        <a href="/my_festivals/{{ fest.fest_id }}/edit"><button type="button" disabled>edit
                            </button></a>
                        <a href="/my_festivals/{{ fest.fest_id }}/add_seller"><button type="button" disabled>add
                                sellers</button></a>
                        <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival"><button type="button" disabled>cancel
                                festival</button></a></td>
                    {% endif %}


                </tr>
                {% endfor %}
            </tbody>
        </table>


        <h2 style="margin-left: 1%; color: white; background-color:black;"> Your outdated festivals</h2>

        <table id="customers">

            <tr>
                <th>FESTIVAL №:</th>
                <th>FESTIVAL NAME:</th>
                <th>FESTIVAL STATUS:</th>
                <th>MANAGING:</th>


            </tr>
            {% for fest  in outdated_fests %}

            <tr>
                <td class="td_field">{{ fest_id }}</td>
                <td>{{ fest.fest_name }}</td>
                {% if fest.status == 0%}
                <td style="background-color: #FFFF99;  max-width: 100px;">WAITING FOR CONFIRMATION</td>
                {% elif  fest.status == 1%}
                <td style="background-color: #99FF99;">CONFIRMED</td>
                {% else %}
                <td style="background-color: #F08080;">CANCELED</td>
                {% endif%}
                {% if current_user.user_id == fest.org_id  %}
                <td><a href="/my_festivals/{{ fest.fest_id }}/manage_tickets"><button>manage
                            tickets</button></a>
                    <a href="/my_festivals/{{ fest.fest_id }}/edit"><button>edit
                        </button></a>
                    {% if fest.status == 2 %}
                    <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival"><button disabled>cancel
                            festival</button></a></td>
                {% else %}
                <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival"><button>cancel
                        festival</button></a></td>
                {% endif %}
                {% else %}
                <td><a href="/my_festivals/{{ fest.fest_id }}/manage_tickets"><button>manage
                            tickets</button></a>
                    <a href="/my_festivals/{{ fest.fest_id }}/edit"><button type="submit" disabled>edit
                        </button></a>
                    <a href="/my_festivals/{{ fest.fest_id }}/cancel_festival"><button type="submit" disabled>cancel
                            festival</button></a></td>
                {% endif %}

            </tr>
            {% endfor %}

        </table>

</div>
<style>
    body {
        background-image: url('https://festival-static.s3-eu-west-1.amazonaws.com/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#myInput1").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable1 tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock content %}