<!doctype html>
<html lang="en">

<head>

  <link rel="shortcut icon" href="#">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>




  <header class="site-header">
    <nav class="navbar navbar-expand-md  bg-red fixed-top">
      <div class="container">
        <button class='navbar-toggler' style="color:#fff" data-toggle='collapse' data-target='#collapseElements'>
          &#9776;
        </button>


        <div class="">
          <a class="logoimgclass" href="/">
            <img src="https://festival-static.s3-eu-west-1.amazonaws.com/F.jpg" style="margin-bottom: -9%;" alt=""></a>
          <div class="row">
            <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }} " style="margin-left: 70px; width: 550px; height: 50px;">
                {{ message }}
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
        <div class="collapse collapse-toggleable-xs navbar-collapse" id="collapseElements">
          <div class="navbar-nav mr-auto"></div>
          <div class="navbar-nav ">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Festivals</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            {% if current_user.is_authenticated %}

            <div class="dropdown">
              <button onclick="myFunction_for_template_dropdown()" class="dropbtn"><img src="{{ user_columns.avatar }}"
                  class="user_logo" alt=""></a></button>
              <div id="Demo" class="dropdown-content">
                <a class="site-header" href="{{ url_for('my_tickets') }}">My tickets</a><br>
                <a class="site-header" href="{{ url_for('account') }}">My account</a><br>
                {% if current_user.perms < 4 %}
                <a class="site-header" href="{{ url_for('my_festivals') }}">My festivals</a><br>
                {% if current_user.perms < 3 %}
                <a class="site-header" href="{{ url_for('manage_sellers') }}">Manage sellers</a><br>
                <a class="site-header" href="{{ url_for('manage_festivals') }}">Manage festivals</a><br>
                {% endif %}
                {% if current_user.perms < 2 %}
                <a class="site-header" href="{{ url_for('manage_organizers') }}">Manage organizers</a><br>
                <a class="site-header" href="{{ url_for('manage_users') }}">Manage users</a><br>
                <a class="site-header" href="{{ url_for('manage_bands') }}">Manage bands</a><br>
                {% endif %}

                {% endif %}



                <a class="site-header" href="{{ url_for('logout') }}">Log out</a>

              </div>
            </div>

            <!-- Dropdown menu script -->
            <script>
              function myFunction_for_template_dropdown() {
                var x = document.getElementById("Demo");
                if (x.className.indexOf("w3-show") == -1) {
                  x.className += " w3-show";
                } else {
                  x.className = x.className.replace(" w3-show", "");
                }
              }
            </script>
            {% else %}
            <a class=" nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>


    </nav>
  </header>



  {% block content %}{% endblock %}








  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>