{% extends "ralaot.html" %}
{% block content %}
<div class="center_user_html" style="margin-top: 110px;">
    <form action="/manage_stages/add_stage" method="POST">
        Stage size:
        <input type="text" name="size" value="100">
        <button type="submit">Add stage</button>
    </form>
    {% for stage in stages %}
    <hr >
    <label class="center_user_html"><b>STAGE ID:</b> {{ stage.stage_id }}  </label> 
    <br>
    <label class="center_user_html"><b>STAGE SIZE:</b>{{ stage.size }}</label>
    <br>
    {% endfor %}
    <hr>
</div>
{% endblock content %}