<div>
    <!-- TODO: replace with one for loop -->
    <h2>Users</h2>
    {% for user in users[0] %}
    <div>
        Name: {{ user.name }} 
        <br>
        Surname:{{ user.surname }}
        <br>
        Active: {{ user.active }}
        <br>
        <a href="/manage_users/{{ user.user_id }}/remove_user"><button>Remove user</button></a>

    </div>
    {% endfor %}
    <h2>Sellers</h2>
    {% for seller in users[1] %}
    <div>
        Seller ID: {{ seller.seller_id }}
        <br>
        Name: {{ seller.name }}
        <br>
        Surname: {{ seller.surname }}
        <br>
        Active: {{ seller.active }}
        <br>
        Role active: {{ seller.role_active }}
        <br>
        <a href="/manage_users/{{ seller.seller_id }}/remove_role"><button>Remove from sellers</button></a>
        <a href="/manage_users/{{ seller.seller_id }}/remove_user"><button>Remove user</button></a>
    </div>
    {% endfor %}
    <h2>Organizers</h2>
    {% for org in users[2] %}
    <div>
        Organizer ID: {{ org.seller_id }}
        <br>
        Name: {{ org.name }}
        <br>
        Surname: {{ org.surname }}
        <br>
        Active: {{ org.active }}
        <br>
        Role active: {{ org.role_active }}
        <br>
        <a href="/manage_users/{{ org.org_id }}/remove_role"><button>Remove from organizers</button></a>
        <a href="/manage_users/{{ org.org_id }}/remove_user"><button>Remove user</button></a>
    </div>
    {% endfor %}
    {% if user_columns.perms == 0 %}
    <h2>Admins</h2>
    <form action="/manage_users/add_admin" method="POST">
        {% for field in admin_form if field.name != 'csrf_token'  %}
        {% if field.name != 'submit' %}
        <legend class="border-bottom mb-4">{{ field.label() }}</legend>
        {% endif %}
        {{ field() }}
        {% endfor %}
    </form>
    {% for admin in users[3] %}
    <div>
        Organizer ID: {{ admin.seller_id }}
        <br>
        Name: {{ admin.name }}
        <br>
        Surname: {{ admin.surname }}
        <br>
        Active: {{ admin.active }}
        <br>
        Role active {{ admin.role_active }}
        <br>
        <a href="/manage_users/{{ admin.admin_id }}/remove_role"><button>Remove from admins</button></a>
        <a href="/manage_users/{{ admin.admin_id }}/remove_user"><button>Remove user</button></a>
    </div>
    {% endfor %}

        <!-- <button disabled="disabled">Remove from admins</button>
        <button disabled="disabled">Remove from organizers</button>
        <button disabled="disabled">Remove from sellers</button> -->
    {% endif %}
</div>