body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-red {
  background-color: #000000;
  border-bottom: 5px solid red;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
  padding: 15px;
  font-size: 25px;



}

.site-header .navbar-nav .nav-link:hover {
  color: #FF0000;
  font-size: 25px;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand img:hover  {
    transform: scale(1.5); 

}
.links {
    width:100%;
    text-align: center;
}
.links2 {
display: inline-block;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 10px solid #dddddd;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: -40px;
  
}

.content-section_for_reg {
  background: #ffffff;
  padding: 10px 20px;
  border: 10px solid #dddddd;
  border-radius: 1px;
  margin-top: 90px;

  
}
.defoffests {

  color: #ffffff;
  
}

.p1 {
  padding-bottom: 400px;
  font-size: 20px;
  color: #ffffff;
} 
.upcevents {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #ff0000;

}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; 
  /*height: 75px;*/
}

.carousel-inner {

  height: relative;
  width: auto;


}




.nav-item {
    list-style: none;
    float: right;
    text-align: center;


}
.form-group {
          position: fixed; 
            background-color: blue; 
            top: 50%; 
            left: 50%; 
            margin-top: -100px; 
            margin-left: -100px; 
}